{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<h1>Modification du mot de passe</h1>
{{ form_start(formPass)}}
{{ form_widget(formPass)}}
<button class="btn btn-primary">Valider la modification</button>
{{ form_end(formPass)}}

{% endblock %}