{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section >
        <h1 class="text-center my-4">Qu'est ce que la paréidolie ?</h1>
        <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus deleniti culpa sunt voluptatibus voluptas eaque. Ad quas, beatae accusantium eligendi deleniti nesciunt voluptate magni, quisquam temporibus veniam nostrum, rerum tempora. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet facere harum tempora autem natus delectus ad iusto quaerat quam fugit. Dolores ratione, autem tempore ducimus dolor animi ex consequatur minima. </p>
        <img class="img-fluid rounded mx-auto d-block" src="/img/9.jpg" alt="Illustration paréidolie">
    </section>

    <section>
        <article>
            <h2>TITRE</h2>
            <img src="/img/n-1.jpg" alt="" class="rounded float-left illustration-min">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, molestiae voluptates harum necessitatibus quae labore reprehenderit, nulla consequuntur velit laudantium alias soluta provident facilis vero? Aliquid delectus magnam dolor nobis.
            Dolores reprehenderit perspiciatis magni repudiandae debitis cum recusandae rem dolor doloribus. Incidunt nemo eos accusamus excepturi sunt laborum veritatis autem consequuntur inventore. Officiis sequi vel, non soluta nulla voluptatum dolor?
            Explicabo eius dolorem facilis aliquid repudiandae perspiciatis aut vero numquam excepturi, unde rerum. Officiis aperiam enim vitae soluta architecto eligendi doloribus odit fugit quia ipsum ad, officia culpa dolorum natus!
            Corrupti dignissimos eligendi error obcaecati debitis molestiae vero veniam, sunt possimus dolorum doloribus nostrum cumque, enim voluptatem. Nobis, provident quia dolorum dignissimos mollitia aperiam corrupti vel error similique commodi doloremque.
            Magnam dolores tenetur officiis nostrum provident similique labore. Incidunt officiis nobis reiciendis sint quod autem, perferendis quae et minus debitis hic, ipsa beatae sequi nemo eos quidem eligendi nihil nam?</p>
        </article>
        <article>
            <h2 class="text-right">TITRE</h2>
            <img src="/img/pareidolie-visage-objet-feu.jpg" alt="" class="rounded float-right illustration-min">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, molestiae voluptates harum necessitatibus quae labore reprehenderit, nulla consequuntur velit laudantium alias soluta provident facilis vero? Aliquid delectus magnam dolor nobis.
            Dolores reprehenderit perspiciatis magni repudiandae debitis cum recusandae rem dolor doloribus. Incidunt nemo eos accusamus excepturi sunt laborum veritatis autem consequuntur inventore. Officiis sequi vel, non soluta nulla voluptatum dolor?
            Explicabo eius dolorem facilis aliquid repudiandae perspiciatis aut vero numquam excepturi, unde rerum. Officiis aperiam enim vitae soluta architecto eligendi doloribus odit fugit quia ipsum ad, officia culpa dolorum natus!
            Corrupti dignissimos eligendi error obcaecati debitis molestiae vero veniam, sunt possimus dolorum doloribus nostrum cumque, enim voluptatem. Nobis, provident quia dolorum dignissimos mollitia aperiam corrupti vel error similique commodi doloremque.
            Magnam dolores tenetur officiis nostrum provident similique labore. Incidunt officiis nobis reiciendis sint quod autem, perferendis quae et minus debitis hic, ipsa beatae sequi nemo eos quidem eligendi nihil nam?</p>
        </article>
        <article>
            <h2>TITRE</h2>
            <img src="/img/h-5.jpg" alt="" class="rounded float-left illustration-min">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, molestiae voluptates harum necessitatibus quae labore reprehenderit, nulla consequuntur velit laudantium alias soluta provident facilis vero? Aliquid delectus magnam dolor nobis.
            Dolores reprehenderit perspiciatis magni repudiandae debitis cum recusandae rem dolor doloribus. Incidunt nemo eos accusamus excepturi sunt laborum veritatis autem consequuntur inventore. Officiis sequi vel, non soluta nulla voluptatum dolor?
            Explicabo eius dolorem facilis aliquid repudiandae perspiciatis aut vero numquam excepturi, unde rerum. Officiis aperiam enim vitae soluta architecto eligendi doloribus odit fugit quia ipsum ad, officia culpa dolorum natus!
            Corrupti dignissimos eligendi error obcaecati debitis molestiae vero veniam, sunt possimus dolorum doloribus nostrum cumque, enim voluptatem. Nobis, provident quia dolorum dignissimos mollitia aperiam corrupti vel error similique commodi doloremque.
            Magnam dolores tenetur officiis nostrum provident similique labore. Incidunt officiis nobis reiciendis sint quod autem, perferendis quae et minus debitis hic, ipsa beatae sequi nemo eos quidem eligendi nihil nam?</p>
        </article>
        <article>
            <h2 class="text-right">TITRE</h2>
            <img src="/img/a-6.jpg" alt="" class="rounded float-right illustration-min">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, molestiae voluptates harum necessitatibus quae labore reprehenderit, nulla consequuntur velit laudantium alias soluta provident facilis vero? Aliquid delectus magnam dolor nobis.
            Dolores reprehenderit perspiciatis magni repudiandae debitis cum recusandae rem dolor doloribus. Incidunt nemo eos accusamus excepturi sunt laborum veritatis autem consequuntur inventore. Officiis sequi vel, non soluta nulla voluptatum dolor?
            Explicabo eius dolorem facilis aliquid repudiandae perspiciatis aut vero numquam excepturi, unde rerum. Officiis aperiam enim vitae soluta architecto eligendi doloribus odit fugit quia ipsum ad, officia culpa dolorum natus!
            Corrupti dignissimos eligendi error obcaecati debitis molestiae vero veniam, sunt possimus dolorum doloribus nostrum cumque, enim voluptatem. Nobis, provident quia dolorum dignissimos mollitia aperiam corrupti vel error similique commodi doloremque.
            Magnam dolores tenetur officiis nostrum provident similique labore. Incidunt officiis nobis reiciendis sint quod autem, perferendis quae et minus debitis hic, ipsa beatae sequi nemo eos quidem eligendi nihil nam?</p>
        </article>
    </section>

{% endblock %}

{% block javascripts %}
<script src="/js/nav.js"></script>
<script>
    nav("{{ nav }}");
</script>
{% endblock %}
