<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Paréido - Admin -{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "admin/partials/header.html.twig" %}
        <div class="container py-5">
            {% block body %}{% endblock %}
        </div>
        {% include "admin/partials/footer.html.twig" %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/nav.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
